<%= form_for(@place) do |f| %>
  <% if @place.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@place.errors.count, "error") %> prohibited this place from being saved:</h2>

      <ul>
      <% @place.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="input-prepend">

  <div class="field">
    <%= f.label :name, "Ambiente"%>
    <%= f.text_field :name, class:"span3" %>
  </div>

  <div class="field">
    <%= f.label :number_interface,"Interface asociada" %>
    <%= f.text_field :number_interface, class:"span3"%>
  </div>
  </br>
  <div class="actions">
    <span class="add-on"><i class="icon-thumbs-up"></i></span>
    <%= f.submit 'Guardar', class: "btn btn-primary" %>
  </div>

</div>
<% end %>

